@import 'tailwindcss';

body {
  font-family: 'Urbanist', sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  background: #fcfcfc;
}

.indicator {
  border-radius: 30px;
  border: 0.5px solid #b4b4b4; /* заменяет border-indicator */
  font-size: 12px;
  line-height: 18px;
  color: #b4b4b4;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(4px); /* у Tailwind backdrop-blur = blur(4px) */
  user-select: none;
}

.indicator-blue {
  background: linear-gradient(180deg, #3fccff 0%, #068dfb 100%);
  box-shadow: 0px 1px 5.3px 0px rgba(20, 157, 255, 0.21);
  color: white;
  border: none;
}

.wrap-text {
  overflow-wrap: anywhere;
  word-break: break-word; /* fallback */
  hyphens: none;
  white-space: normal;
}

.shadow-block {
  box-shadow: 0px 1px 8px 0px #0000001a;
}

.blue-shadow {
  box-shadow: 0px 1px 5.3px 0px #149dff36;
}

.bg-gradient-btn-active {
  background: linear-gradient(230.09deg, #2bd1ff -50.42%, #34b8ff 33.26%, #229cfd 113.78%);
}

.border-gradient {
  border: 1px solid #34b8ff; /* прозрачная рамка */
  border-radius: 25px;
  /* 2 слоя: белая подложка внутри + градиент по границе */
}

.state-focused .indicator,
.state-selected .indicator,
.state-focused.state-selected .indicator {
  border: 0.5px solid #34b8ff;
  color: #34b8ff;
  background-color: transparent;
}

.state-focused .indicator-blue,
.state-selected .indicator-blue,
.state-focused.state-selected .indicator-blue {
  border: none;
  color: white;
}
